body{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(60,60,60,1) 100%);;
    color: #FFF;
    
}


#container-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
#container-btn button:last-child{
    width: 100%;
}

#maze{
    padding: 16px 6%;
    max-width: 720px;
}

#maze .card-col{
    margin: 0;
    padding: 5px 2px;
}

#maze .card{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-color: #FEF1FD;
    border-radius: 0;

}
#maze .card span.card-drop {
    background-image: url('../img/drop.svg');
    background-size: 36px;
    background-position-x: center;
    background-position-y: -4px;
    background-repeat: no-repeat;
    /*border: dashed 1px #FFF;*/
    color: #FEF1FD;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
}


#maze .card-evo::before{
    content: '';
    background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 24%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3) 26%);
    border: solid 2px #364aff;
    border-radius: 12px;
    position: absolute;
    top: -10px;
    left: -4px;
    height: calc(100% + 20px);
    width: calc(100% + 8px);
    z-index: -2;
    animation-name: shiny;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
#maze .card-col:nth-child(even) .card-evo::before{
    animation-delay: 4s;
}

@keyframes shiny {
    0% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 24%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3) 26%);}
    37% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 24%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3) 26%);}
    38% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 28%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3) 30%);}
    39% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 32%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3) 34%);}
    40% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 36%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3) 38%);}
    41% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 40%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3) 42%);}
    42% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 44%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3) 46%);}
    43% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 48%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3) 50%);}
    44% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 52%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3) 54%);}
    45% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 56%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3) 58%);}
    46% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 60%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3) 62%);}
    47% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 64%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3) 66%);}
    48% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 68%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3) 70%);}
    49% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 72%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3) 74%);}
    50% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 76%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3) 78%);}
    51% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 72%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3)  74%);}
    52% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 68%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3)  70%);}
    53% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 64%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3)  66%);}
    54% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 60%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3)  62%);}
    55% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 56%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3)  58%);}
    56% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 52%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3)  54%);}
    57% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 48%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3)  50%);}
    58% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 44%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3)  46%);}
    59% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 40%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3)  42%);}
    60% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 36%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3)  38%);}
    61% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 32%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3)  34%);}
    62% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 28%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3)  30%);}
    63% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 24%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3)  26%);}
    100% {background: linear-gradient(to right bottom, rgba(54, 74, 255,0.3) 24%, rgba(255, 255, 255,0.5), rgba(54, 74, 255,0.3) 26%);}

}

#maze .card .card-body{
    margin: 0;
    padding: 0;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#maze .card img{
    height: 110px;
    width: 86px;
}
#maze .card .card-header{
    font-size: x-small;
    font-weight: bold;
    padding: 2px 6px;
}

#maze .card .card-footer{
    font-size: small;
    padding: 4px 6px;
}

#maze .swiper-wrapper-hidden::after{
    content: '?';
    align-items: center;
    background: #222;
    border: dashed #EEE 1px;
    color: white;
    display: flex;
    font-weight: bold;
    font-size: xx-large;
    height: 100%;
    justify-content: center;
    margin: 0 2%;
    width: 96%;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    z-index: 80;
}